<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/style.global.css">
  <link rel="stylesheet" href="style/style.index.css">
  <title>Document</title>
</head>

<body>
  <main class="container">


    <header class="header">
      <h1>
        <a href="/">Joey Robinson</a>
      </h1>
      <nav class="header__nav nav">
        <div class="nav__about">
          <a href="/">Home</a>
        </div>
        <div class="nav__contact">
          <a href="about">About</a>
        </div>
        <div class="nav__work">
          <a href="work">Work</a>
        </div>
      </nav>
    </header>

    <section class="primary">
      <div class="primary__greeting">
        <h1>Hi</h1>
      </div>
    </section>
  </main>
</body>

</html>